// Colors
$table-row-color: #F0F0F0;
$table-row-selected-color: #E7E7E7;
$table-header-color: #6F7084;

$like-hover-color: #CBD9F3;
$like-active-color: #A8B7D6;

$button-default-color: #5C7EBD;
$button-hover-color: #7796CE;
$button-active-color: #5974A9;

// Font
$font-size: 40px;
$line-height: 46px;

// Main styles 
.container {
    font-family: 'Helvetica', sans-serif;
    width: 767px;
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    table {
        width: 100%;
        text-align: left;
        border-spacing: 5px;
        margin-bottom: 40px;
        thead {
            color: white;
            background: $table-header-color;
            th {
                font-weight: 400;
            }
        }

        tbody {
            background: $table-row-color;
            tr {
                td {
                    &:last-of-type {
                        width: 30%;
                        border-right: none;
                        cursor: pointer;
                        &:hover {
                            background: $like-hover-color;
                        }
                        &:active {
                            background: $like-active-color;
                        }
                    }
                    &.selected {
                        background: $table-row-selected-color;
                    }
                }
                &.liked {
                    background: $table-row-selected-color;
                    td {
                        position: relative;
                        img {
                            position: absolute;
                            top: 0;
                            height: 36px;
                            filter: invert(0.5);
                            left: calc(70% - 45px);
                            top: calc(50% - 20px);
                        }
                    }
                }
            }
            
        }

        th, td {
            padding: 20px;
            width: 70%;
        }
    }

    .form {
        margin: 5px;
        display: flex;
        input {
            font-size: $font-size;
            line-height: $line-height;
            width: calc(70% - 40px);
            margin-right: 5px;
            padding: 20px;
            border-top: 2px solid dimgray;
            border-left: 2px solid dimgray;
            border-right: 1px solid dimgray;
            border-bottom: 1px solid dimgray;
        }
        button {
            font-size: $font-size;
            line-height: $line-height;
            width: 30%;
            background: $button-default-color;
            border: none;
            color: white;
            cursor: pointer;
            &:hover {
                background: $button-hover-color;
            }
            &:active {
                background: $button-active-color;
            }
        }
    }
}
