<div class="container">
  <table>
    <thead>
      <tr>
        <th>
          Suggestion
        </th>
        <th>
          Likes
        </th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let suggestion of suggestions" [class.liked]="suggestion.liked">
        <td>
          {{suggestion.title}}
        </td>
        <td (click)="onLike(suggestion)">
          {{suggestion.likes}}
          <img *ngIf="suggestion.liked" src="assets/img/like.svg" alt="">
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form">
    <input  [(ngModel)]="newSuggestion.title" type="text" placeholder="Add New Suggestion">
    <button (click)="onAddSuggestion()" type="button" [disabled]='!newSuggestion.title'>Add</button>
  </div>
</div>



